@import '../variables';

.navbar {
    background-color: white !important;
    border-bottom: 1px solid $color-100;

    .container {
        .navbar-brand {
            display: flex;
            align-items: center;
            font-size: 40px;

            img {
                height: 40px;
            }

            h1 {
                margin: 0 !important;
            }
        }
    }

    .login {
        text-decoration: none;
        color: $color-950;
    }
}