@import '../../variables';

.hotels-manage {
    padding: 20px;

    .header-manage {
        padding-bottom: 5px;
        border-bottom: 1px solid $color-300;

    }
    .icon-action{
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
    }
}