@import 'variables';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
#root {
    padding-top: 70px;
}

body {
    font-family: $font-principal !important;
    font-size: 16px !important;
    line-height: 1.6 !important;
    color: $color-900 !important;
    margin: 0 !important;
    padding: 0 !important;
}

h1,
h2,
h3,
h4 {
    font-weight: bold !important;
    margin-bottom: 1rem !important;
    color: $color-900 !important;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

label {
    color: $color-400;
    font-size: 0.8rem;
    margin-bottom: 6px;
}

input {
    border-radius: 4px;
    border: 1px solid $color-200;
    font-size: 1rem;
    margin-bottom: 12px;
    padding: 10px;
    width: 100%;

}

a {
    color: black !important;
    text-decoration: none !important;
}