@import '../variables';

.sidebar {
    padding: 20px 0 0 0;
    background-color: $color-300;
    height: 100vh;
    width: 20%;
    position: fixed;

    .btn {
        width: 100%;
        padding: 10px 0;
        background-color: transparent;
        color: white;
        border: none;
        border-radius: 0;
        font-size: 1.1rem;
        transition: background-color 0.3s, color 0.3s;
        margin: 0px;

        &:hover {
            background-color: $color-500;
            color: #fff;
            width: 100%;
            border-radius: 0;
        }
    }
}

.content {
    width: 80%;
    margin-left: 20%;

}

.dashboard {
    padding: 20px;

    header {
        text-align: center;
        padding: 10px 0;

        h1 {
            margin: 0;
        }
    }

    .feature {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 3px 3px 10px 0px $color-200;
        margin-bottom: 20px;
        padding: 20px;

        h2 {
            color: black;
            margin-bottom: 15px;
        }
    }
}