@import '../variables';

.login {
    display: flex;

    .login-img,
    .login-form {
        width: 50%;
        height: 100vh;
    }

    .login-img {
        background: url(../../assets/edificio-hotel.jpg);
        background-position: center;
        background-size: cover;

        .login-opacity {
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, $opacity, #fff);
        }
    }

    .login-form {
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h1 {
                margin-bottom: 20px;
            }

            label {
                color: #555;
                font-size: 0.8rem;
                margin-bottom: 6px;
            }

            input {
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 1rem;
                margin-bottom: 12px;
                padding: 10px;
                width: 100%;

            }
        }

    }

    @media (max-width: 720px) {
        flex-direction: column;

        .login-img,
        .login-form {
            width: 100%;
        }

        .login-img {
            height: 100vh;

            .login-opacity {
                width: 100%;
                height: 100%;
                background: none;
                background-color: $opacity;
            }
        }

        .login-form {
            position: absolute;

            form {
                background-color: #ffffffc0;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 3px 3px 10px 0px $color-200;
                width: 500px;
            }
        }
    }
}