@import '../../variables';

.banner-header {
    width: 100%;
    height: 400px;
    position: relative;

    .banner-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .banner-opacity {
        width: 100%;
        height: 100%;
        background: $opacity;
        position: absolute;
        top: 0;
        z-index: 0;
    }
}