@import '../../variables';

.card-filter {
    position: absolute;
    width: 400px;
    height: auto;
    top: 220px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 3px 10px 0px $color-200;

    h3 {
        margin: 0 !important;
    }

    .btn {
        width: 100%;
    }
}